@import "../../styles//helpers.scss";

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--main-background);

    .create_post_button {
        display: none;
        position: fixed;
        width: 100%;
        padding: 15px;
        z-index: 3;
        bottom: 0;
        margin-bottom: 0px;
        font-size: 16px;
        
        @include screen() {
            display: flex;
        }

        button {
            padding: 12px 24px;
            font-size: 16px;
            align-items: center;
            justify-content: center;
            color: var(--submit-button-primary-color);
            background-color: var(--sticky-button-background-color);
            border: 1px solid var(--submit-button-primary-color);
            border-radius: 8px;
            
            @include screen() {
                width: 100%;
            }
        }

        button:hover {
            color: var(--submit-button-secondary-color);
            background-color: var(--submit-button-primary-color);
        }

    }
}