@import "../../styles/helpers.scss";

.posts {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    position: relative;
    gap: 28px;
    
    &.posts_columns {  
        @include screen() {
            flex-wrap: wrap;
            justify-content: space-between;      
            gap: 12px;
        }
    }

    .posts_loader{
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
    };
}