@use "../../styles/helpers" as *;

.navigation_bar {
    display: none;
    position: absolute;
    align-self: center;
    justify-self: center;
    bottom: 20px;
    z-index: 100;
    
    &.float_section{
        border-radius: 999px;
    }

    @include screen() {
        display: flex;
    }

    .switcher_bar {
        width: 100%;
        border: none;

        .switcher_bar_indicator {
            background: var(--navigation-bar-active-item-background-color);
        }

        &_item {
            padding: 16px 24px;

            .navigation_item {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            svg {
                width: 18px;
                height: 18px;
            }
        }
    }
}