@import '../../styles/helpers.scss';

.post_actions {        
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    gap: 0px 16px;

    @include screen() {
        gap: 20px;
    }

    &_right_side {
        display: flex;
        gap: 0 16px;
        align-items: center;
        margin-left: auto;
    }

    &_button {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 2px;
        height: 18px;
        color: var(--light-text-color);

        p {
            align-items: center;
            line-height: 1;
            font-size: 14px;

            color: var(--light-text-color);
        }

        svg {
            height: 18px;
            width: 18px;
        }
    }
    
    &_button:hover {
        color: var(--text-color);

        p {
            color: var(--text-color);
        }
    }
}