@import "../../styles/categoryColors.scss";

.create_post {

    .search_select_input {
        border-color: var(--line-color);
        color: var(--text-color);

        .input_field {
            color: inherit;
        }
    }

    .search_select {
        .search_select_item_selected {
            background: var(--section-item-hover-background-color);
        }

        @include category-colors {
            .search_select_input {
                background: rgb(from var(--category-color) r g b / .1);;
                border-color: var(--category-color);

                .input_field {
                    color: var(--category-color);
                }
            }

            .search_select_icon{
                color: var(--category-color);
            }
        }
    }

    .search_select_item {
        @include category-colors {

            p {
                color: var(--category-color);
            }

            .search_select_icon {
                color: var(--category-color);
            }

            &:hover {
                background-color: rgb(from var(--category-color) r g b / .1);
            }

            &.search_select_item_selected {
                background-color: rgb(from var(--category-color) r g b / .1);
            }
        }
    }
}