@use "../../styles/helpers.scss" as *;
@use "../../styles/categoryColors.scss" as *;

.create_post {
    display: flex;
    .search_select {
        @include category-colors {
            .search_select_input {
                background: rgb(from var(--category-color) r g b / .1);;
                border-color: var(--category-color);

                .input_field {
                    color: var(--category-color);
                }
            }

            .search_select_icon{
                color: var(--category-color);
            }
        }
    }

    .search_select_item {
        @include category-colors {

            p {
                color: var(--category-color);
            }

            .search_select_icon {
                color: var(--category-color);
            }

            @include hover {
                background-color: rgb(from var(--category-color) r g b / .1);
            }

            &.search_select_item_selected {
                background-color: rgb(from var(--category-color) r g b / .1);
            }
        }
    }
}