.create_post {

    .search_select {

        &.category_type_1 { color: var(--category-color-1); }
        &.category_type_2 { color: var(--category-color-2); }
        &.category_type_3 { color: var(--category-color-3); }
        &.category_type_4 { color: var(--category-color-4); }

        &.category_type_1,
        &.category_type_2,
        &.category_type_3,
        &.category_type_4 {

            .search_select_input {
                border-color: currentColor;
                background: rgb(from currentColor r g b / 0.1);
            }

            .search_select_icon,
            .input_field {
                color: currentColor;
            }
        }
    }

    .item_category_type_1 { color: var(--category-color-1); }
    .item_category_type_2 { color: var(--category-color-2); }
    .item_category_type_3 { color: var(--category-color-3); }
    .item_category_type_4 { color: var(--category-color-4); }

    .item_category_type_1,
    .item_category_type_2,
    .item_category_type_3,
    .item_category_type_4 {

        p {
            color: currentColor;
        }

        &.search_select_item_selected,
        &:not(.search_select_item_selected):hover {
            background: rgb(from currentColor r g b / 0.1);
        }
    }
}