.category_content {
    display: flex;
    align-items: center;
    border-radius: 999px;
    gap: 4px;

    .category_svg_icon {
        display: flex;
        height: 16px;
        width: 16px;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    @for $i from 1 through 4 {
        &.category_type_#{$i} {
            &.chip_button_active {
                color: var(--category-color-#{$i});
                border-color: var(--category-color-#{$i});
                background: rgb(from var(--category-color-#{$i}) r g b / 0.1);
                
                p {
                    color: var(--category-color-#{$i});
                }
            }
        }
    }
}