@use "../../styles/categoryColors.scss" as *;

.category_content {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 999px;

    .category_svg_icon {
        display: flex;
        width: 16px;
        height: 16px;
    }

    @include category-colors {
        &.chip_button_active {
            color: var(--category-color);
            border-color: var(--category-color);
            background: rgb(from var(--category-color) r g b / .1);

            p {
                color: var(--category-color);
            }
        }
    }
}