@import "../../../styles/helpers.scss";

.chip_button {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 12px;
    color: var(--chip-button-text-color);
    border: 1px solid var(--line-color);

    @include screen() {
        padding: 6px 12px;
        font-size: 12px;
    }
}

.chip_button:hover {
    background-color: var(--chip-button-hover-background-color);
}

.chip_button_active {
    color: var(--chip-active-button-text-color);
    background-color: var(--chip-active-button-background-color);
    border-color: var(--chip-active-button-background-color);
    
    p{
        color: var(--chip-active-button-text-color);
    }
}

.chip_button_active:hover {
    background-color: var(--chip-active-button-hover-background-color);
    border-color: var(--chip-active-button-hover-background-color);
}