@use "../../../styles/helpers" as *;

.action_button {
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 8px;
    color: var(--submit-button-primary-color);
    border: 1px solid var(--submit-button-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen() {
        font-size: 12px;
        padding: 10px 20px;
    }

    @include hover {
        color: var(--submit-button-secondary-color);
        background: var(--submit-button-primary-color);
    }

    .loader {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s;
    
    }
    &_loading {
        color: transparent;
        background-color: transparent;
        cursor: not-allowed;

        svg {
            display: none;
        }

        .loader {
            opacity: 1;
            color: var(--submit-button-primary-color);
        }

        @include hover {
            background-color: transparent;
        }
    }
}