@use '../../styles/helpers.scss' as *;

.header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-background);
    z-index: 1000;
    box-shadow: 0 0 10px 1px rgba(0,0,0, .3);

    @include screen() {
        display: none;
    }

    &_content {
      display: flex;
      justify-content: center; 
      align-items: center;
      height: var(--header-height); 
      position: relative;

      @include screen() {
        height: var(--header-height-mobile);
      }
    }
    
    &_main_logo {
      display: flex;
      align-items: center;
      height: 32px;

      svg {
        color: var(--header-button-color);
        height: 32px;
        width: auto;

        path{
          fill: currentColor;
        }
      }

      @include screen() {
        svg{
          height: 18px;
        }
      }
    }

    &_side {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      
      .header_item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 6px;
        cursor: pointer;
        color: var(--header-button-color);

        @include hover {
            color: var(--header-button-hover-color);
            background: var(--section-item-hover-background-color);
        }

        &_icon {
          color: inherit;
          width: 20px;
          height: 20px;
          object-fit: cover;

          *[fill] {
              fill: currentColor;
          }
        }
      }

      .header_item:active {
        //transform: scale(.8);
        transition: .2s ease-out;
      }

      &.header_left_side {
        left: 0;
      }

      &.header_right_side {
        display: flex;
        justify-content: center;
        gap: 24px;
        right: 0;

        .header_admin_button {
          padding: 8px 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          font-size: 12px;
          border-radius: 6px;

          svg {
            height: 16px;
            width: 16px;
          }


          @include screen() {
            display: none;
          }
        }

        .header_notification {
          position: relative;

          &_new {
            position: absolute;
            top: 8px;
            right: 8px;

            &_circle {
              background-color: red;
              height: 4px;
              width: 4px;
              border-radius: 50%;
            }

          }
        }
      }
    }

    .user_badge_info{
      margin-left: 4px;

      &_name {
        font-size: 16px;
        color: var(--header-button-color);

        @include screen() {
            font-size: 14px;
        }

        @include hover {
            color: var(--header-button-hover-color);
        }
      }

      &_verified {
        display: none;
      }
    }

    .header_user_badge_popup {
      align-items: center;
      padding: 6px 8px;
      border-radius: 6px;
      cursor: pointer;

      @include hover {
        background: var(--section-item-hover-background-color);
      }

      .user_badge {
        padding: 0;

        @include hover {
          background: transparent;
        }
      }

      .header_user_badge_popup_arrow{
        width: 16px;
        height: 16px;
      }
    }
}

.modal_window_body {
  &_content{
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include screen() {
      padding: 10px !important;
      gap: 20px !important;
    }

    &_notification {
      display: flex;
      flex-direction: column;
      gap: 4px;
      
      .follow_button {
        padding: 6px 12px;
        font-size: 12px;
        border-radius: 8px;
        grid-row: 1;
        align-self: start;
        align-self: center;
        justify-self: flex-end;
      }

      .user_badge {
        grid-row: 1;
      }

      &_new {
        display: flex;
        align-items: center;
        
        &_circle{
          margin-right: 10px;
          background-color: red;
          width: 5px;
          height: 5px;
          border-radius: 50%;
        }
      }

      &_message {
        margin-top: 4px;
        font-size: 14px;
        align-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &_post_link {
          text-decoration: underline;
        }

        @include screen() {
          grid-column: 1 / span 2;
          white-space: normal;
          font-size: 14px;
        }
      }

      &_time {
        font-size: 12px;
        white-space: nowrap;
        color: var(--light-text-color);
        align-content: center;
        margin-left: auto;
        margin-left: 0;
        grid-row: 3;

        @include screen() {
          grid-column: 1;
          font-size: 10px;
        }
      }
    }
  }
}