@import "../../../styles/helpers.scss";

.search_select {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 6px;

    &_label {
        font-size: 18px;
    }

    .search_select_arrow {
        color: var(--input-text-color);
    }

    &_icon {
        margin-right: 10px;
        display: flex;
        align-items: center;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &_input {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px solid var(--input-outline-color);
        border-radius: 8px;
        padding: 10px 16px;
    
        .input_field {
            border: none;
            padding: 0;
            border-radius: 0;    
            @include screen() {
                padding: 0;
            }
        }
    
        &:focus-within {
            border: 1px solid var(--input-outline-active-color);
        }
    
        .input_field:focus {
            border: none;
        }
    
        .input_label_text {
            display: none;
        }
    }
}


.search_select_right_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    color: var(--input-text-color);
    padding: 4px;
    border-radius: 6px;
    cursor: default;
    
    svg {
        width: 12px;
        height: 12px;
    }
    
    &_close{
        cursor: pointer;

        &:hover {
            background-color: var(--popup-item-hover-background-color);
        }
    }

}
.search_select_list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 8px);

    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 4px;

    border-radius: 8px;
    border: 1px solid var(--dropdown-outline-color);

    max-height: 240px;
    overflow-y: auto;

    z-index: 100;
}

.search_select_item {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    text-align: left;
    cursor: pointer;
    color: var(--input-text-color);

    display: flex;
    align-items: center;
    gap: 10px;

    p {
        font-size: 14px;
        text-align: left;
    }

    &_icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &:not(.search_select_item_selected):hover {
        background-color: var(--popup-item-hover-background-color);
    }

    &.search_select_item_selected {
        background-color: var(--dropdown-selected-background-color);
    }
}

.search_select_empty {
    padding: 12px;
    color: var(--secondary-text-color);
}