@import "../../styles/helpers.scss";

.post_comments {
    margin-top: 36px;
    gap: 24px;
    display: flex;
    flex-direction: column;

    &_form {
        display: flex;
        flex-direction: column;

        @include screen() {
            padding: 8px;
        }

        &_top {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            padding-bottom: 12px;

            @include screen() {
                &_left{
                    font-size: 12px;
                }
            }

            &_left {
                font-size: 14px;

                .post_comments_form_top_left_comment_text {
                    font-weight: 700;
                    cursor: pointer;
                }

                .post_comments_form_top_left_comment_text:hover {
                    text-decoration: underline;
                }


            }
        }

        &_content {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 10px;

            .input_field_label{
                .input span {
                    margin-bottom: 0;
                }
                .input_field {
                    font-size: 14px;
                    padding: 10px;
                }
                .input_field::placeholder {
                    font-size: 14px;
                }
            }
            
            .primary_button {
                grid-column: 2;
                justify-self: end;
                padding: 10px 12px;

                font-size: 12px;
            }

            .user_badge {
                align-self: start;

                .user_badge_info {
                    display: none;
                }
            }

            @include screen() {
                .input_field_label {
                    .input_field::placeholder {   
                        font-size: 12px;
                    }
    
                    .input_field {
                        padding: 8px;
                        font-size: 12px;
                    }
                }

                .primary_button {
                    padding: 8px;
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &_list{
        display: flex;
        flex-direction: column;
        gap: 24px;

        .comment {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @include screen() {
                padding: 8px;
                padding-bottom: 0;
            }

            &_body{
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 16px;
                
                &_top_side {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    width: 100%;
                    
                    &_date {
                        font-size: 12px;
                        color: var(--light-text-color);
                    }
    
                    .author_info_name {
                        font-size: 14px;
                    }
    
                    &_more {
                        margin-left: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        svg {
                            width: 18px;
                            height: 18px;
                            color: var(--light-text-color);
    
                            &:hover{
                                color: var(--text-color);
                            }
                        }
                    }
                }
                
                &_middle_side {
                    &_text {
                        border-radius: 4px;
                        width: fit-content;
                        font-size: 14px;
                        color: var(--post-text-color);
                        word-break: break-word;
                    }
                }
                
                &_bottom_side {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    display: flex;
                    cursor: pointer;
                    gap: 0 16px;
                    color: var(--light-text-color);
                    
                    
                    &_button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2px;
                        
                        &:hover {
                            color: var(--text-color);
                            
                            p {
                                color: var(--text-color);
                            }
                        }
                        
                        p {
                            color: var(--light-text-color);
                        }
                        
                        svg {
                            height: 18px;
                            width: 18px;
    
                        }
    
                    }
                }
            }

        }

        .comment_highlight {
            color: var(--main-text-selection-color);
            background-color: var(--main-text-selection-background-color);
        }

        .comment_replies {
            display: flex;
            width: 100%;
            align-items: center;
            border-left: 1px solid var(--line-color);
            
            &_list {
                gap: 24px;
                padding-left: 32px;
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }

        .comment_root {
            margin: 0;
            border: none;
            padding: 0;
        }
    }
}