@use "../../styles/helpers" as *;

.default-container {
    width: 100%;
    max-width: 992px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    --container-padding: 60px;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);

    
    @include screen() {
        --container-padding: 16px;
    }

    .create_post_button {
        display: none;
        position: sticky;
        width: 100%;
        padding: 15px 0;
        z-index: 3;
        bottom: 0;
        margin-top: auto;
        margin-bottom: 0px;
        font-size: 16px;
        
        @include screen() {
            display: flex;
        }

        button {
            padding: 12px 24px;
            font-size: 16px;
            align-items: center;
            justify-content: center;
            color: var(--submit-button-primary-color);
            background-color: var(--sticky-button-background-color);
            border: 1px solid var(--submit-button-primary-color);
            border-radius: 8px;
            
            @include hover {
                color: var(--submit-button-secondary-color);
                background-color: var(--submit-button-primary-color);
            }

            @include screen() {
                width: 100%;
            }
        }
    }
}