.popup {
    display: flex;
    
    &_trigger{
        cursor: pointer;
        overflow: hidden;
        display: flex;
        position: relative;
    }
}

.popup_menu {
    border-radius: 8px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);

    &_item {
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 14px;
        padding: 12px;
        border-radius: 6px;
        color: var(--text-color);
        
        &_title{
            text-align: start;
            font-size: 14px;
        }

        svg {
            color: inherit;
            width: 16px;
            height: 16px;
        }
    }
    

    &_item:hover {
        background-color: var(--section-item-hover-background-color);
    }

    &_item_danger {
        color: var(--red-f5);
        
        .popup_menu_item_title {
            color: var(--red-f5);
        }
    }

    &_item_danger:hover {
        background-color: var(--popup-danger-item-hover-background-color);
    }
}