.admin_panel {
    display: flex;
    gap: 20px;
    flex: 1;

    &_navigation {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
        padding: 18px;
        flex: 0 1 20%;
        
        h1 {
            font-size: 20px;
        }

        &_list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: 12px;

            &_item {
                display: flex;
                align-items: center;
                gap: 8px;
                color: var(--section-light-color);
                padding: 8px;
                border-radius: 8px;
                width: 100%;
                
                &:hover{
                    background: var(--section-item-hover-background-color);
                    color: var(--section-light-hover-color);

                    p {
                        color: var(--section-light-hover-color);
                    }
                }
                
                svg {
                    width: 16px;
                    height: 16px;
                }
                
                p {
                    font-size: 14px;
                    color: var(--section-light-color);
                    white-space: nowrap;
                }

                &_active {
                    background: var(--section-item-hover-background-color);
                    color: var(--section-light-hover-color);

                    p {
                        color: var(--section-light-hover-color);
                    }
                }
            }
        }
    }

    &_content {
        display: flex;
        justify-content: center;
        padding: 18px;
        flex: 1;

        &_categories_page {
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 100%;
            
            .search_select {
                &.category_type_1 { color: var(--category-color-1); }
                &.category_type_2 { color: var(--category-color-2); }
                &.category_type_3 { color: var(--category-color-3); }
                &.category_type_4 { color: var(--category-color-4); }

                &.category_type_1,
                &.category_type_2,
                &.category_type_3,
                &.category_type_4 {

                    .search_select_input {
                        border-color: currentColor;
                        background: rgb(from currentColor r g b / 0.1);
                    }

                    .search_select_icon,
                    .input_field {
                        color: currentColor;
                    }
                }
            }

            &_settings {
                display: flex;
                flex-direction: column;
                gap: 20px;
                flex: 1;
                

                &_color {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    &_content{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;

                        &:hover{
                            background-color: var(--chip-button-hover-background-color);
                        }

                        padding: 8px;
                        border: 1px solid var(--line-color);
                        border-radius: 8px;

                        p {
                            color: currentColor;
                        }
                    }
                    
                    &.category_color_1 {
                        color: var(--category-color-1);
                    }

                    &.category_color_2 {
                        color: var(--category-color-2);
                    }

                    &.category_color_3 {
                        color: var(--category-color-3);
                    }

                    &.category_color_4 {
                        color: var(--category-color-4);
                    }

                    &.category_color_1,
                    &.category_color_2,
                    &.category_color_3,
                    &.category_color_4 {

                        &_content {
                            border-color: currentColor;
                            background: rgb(from currentColor r g b / 0.1);

                            svg {
                                color: currentColor;
                            }
                        }
                    }
                }

                &_icon {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    
                    &_content {
                        display: grid;
                        gap: 20px;
                        flex-wrap: wrap;
                        grid-template-columns: repeat(10, 1fr);
                        width: 100%;

                        &_item {
                            display: flex;
                            
                            .category_content{
                                padding: 16px 24px;
                                width: 100%;
                                align-items: center;
                                justify-content: center;
                                border-radius: 8px;
                                color: var(--section-light-color);
    
                                .category_svg_icon {
                                    height: 24px;
                                    width: 24px;
                                }
    
                                p {
                                    display: none;
                                }
                            }

                            &_active{
                                .category_content{
                                    color: var(--section-light-hover-color);
                                    border-color: var(--section-light-hover-color);
                                }
                            }
                        }
                    }
                }
            }


            .primary_button{
                margin-top: auto;
            }

            .item_category_type_1 { color: var(--category-color-1); }
            .item_category_type_2 { color: var(--category-color-2); }
            .item_category_type_3 { color: var(--category-color-3); }
            .item_category_type_4 { color: var(--category-color-4); }

            .item_category_type_1,
            .item_category_type_2,
            .item_category_type_3,
            .item_category_type_4 {

                p {
                    color: currentColor;
                }

                &.search_select_item_selected,
                &:not(.search_select_item_selected):hover {
                    background: rgb(from currentColor r g b / 0.1);
                }
            }

        }
    }
}
.popup_menu {
    .admin_panel_content_categories_page_settings_color_category_1 {
        color: var(--category-color-1);

        p {
            color: var(--category-color-1);
        }
    }
    .admin_panel_content_categories_page_settings_color_category_2 {
        color: var(--category-color-2);

        p {
            color: var(--category-color-2);
        }
    }
    .admin_panel_content_categories_page_settings_color_category_3 {
        color: var(--category-color-3);

        p {
            color: var(--category-color-3);
        }
    }
    .admin_panel_content_categories_page_settings_color_category_4 {
        color: var(--category-color-4);

        p {
            color: var(--category-color-4);
        }
    }
}