@use "../../../styles/helpers" as *;

.hashtag_field {
    position: relative;
    width: 100%;
    overflow: visible;

    &_mirror {
        position: absolute;
        inset: 0;
        border-color: transparent !important;
        color: var(--input-text-color);
        overflow: auto;
        pointer-events: none;
        background: transparent;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;

        .hashtag {
            color: var(--hashtag-color);
        }
    }

    &_input {
        position: relative;
        z-index: 1;
        background: transparent;
        color: transparent;
        caret-color: var(--input-text-color);

        &::placeholder {
            color: var(--input-placeholder-color);
        }

        &::selection {
            color: var(--text-selection-color);
            background-color: var(--text-selection-background-color);
        }
    }

    &_suggest {
        position: absolute;
        left: 0;
        bottom: calc(100% + 8px);
        z-index: 1300;
    }
}
