@use "../../styles/helpers" as *;

.banner {
    margin-bottom: var(--space-6);

    p {
        font-size: var(--text-md);
        color: var(--light-text-color);
        line-height: 1.5;
        max-width: 36em;
    }

    a {
        color: var(--text-color);
        font-weight: 500;

        @include hover {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }
}
